.btn--mobile {
  background: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: .5;
  margin: 0 1rem;

  >div {
    width: 2rem;
    height: .3rem;
    background: var(--color-grey-light-1);

    &:not(:first-child) {
      width: 75%;

    }

    &:last-child {
      width: 50%;

    }
  }

}
