.header {
  font-size: 1.4rem;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $bp-medium) {
    flex-wrap: wrap;
    align-content: space-around;
  }

  .location {
    font-size: 6vw;
    flex: 1;
    text-align: center;

    @media only screen and (min-width: $bp-small) {
      font-size: 5vw;
    }

    @media only screen and (min-width: $bp-medium) {
      font-size: 4vw;
    }

    @media only screen and (min-width: $bp-large) {
      font-size: 3vw;
    }
  }

  div {
    display: flex;

    .btn__temp {
      border: 0;
      background: transparent;
      color: var(--color-grey-light-3);
      font-size: 4vw;
      width: 1.1rem;
      margin: 0 .3rem;

      @media only screen and (min-width: $bp-smallest) {
        font-size: 3vw;
      }

      @media only screen and (min-width: $bp-small) {
        font-size: 2vw;
      }

      @media only screen and (min-width: $bp-medium) {
        font-size: 1vw;
      }
    }
  }
}
