.stack {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex: 1;

  @media only screen and (min-width: $bp-largest) {
    width: 75%;
    margin: 0 auto;
  }

  .stack__container {
    width: 50px;
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;

    &--icons {
      overflow: initial;

      .wi {
        font-size: 2rem;
      }
    }

    .stack__group {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;

      .stack__item {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }
}

.dawn {
  background-image: linear-gradient(to bottom, var(--color-purple-2), var(--color-purple-2));

  &.first {
    background: linear-gradient(to bottom, var(--color-purple) -15%, var(--color-purple-2));
  }
}

.morning {
  background-image: linear-gradient(to bottom, var(--color-cyan), var(--color-cyan));

  &.first {
    background: linear-gradient(to bottom, var(--color-purple) -15%, var(--color-cyan));
  }
}

.afternoon {
  background-image: linear-gradient(to bottom, var(--color-blue), var(--color-blue));

  &.first {
    background: linear-gradient(to bottom, var(--color-purple) -15%, var(--color-blue));
  }
}

.dusk {
  background: linear-gradient(to bottom, var(--color-yellow), var(--color-yellow));

  &.first {
    background: linear-gradient(to bottom, var(--color-orange) -15%, var(--color-yellow));
  }
}

.night {
  background-image: linear-gradient(to bottom, var(--color-grey-dark-2), var(--color-grey-dark-2));

  &.first {
    background: linear-gradient(to bottom, var(--color-grey-dark-1) -15%, var(--color-grey-dark-2));
  }
}
